
body{
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
}

.axis-text-x {
  fill: #10325D;
  text-anchor: middle;
}
  
.axis-text-y {
  fill: #10325D;
  text-anchor: middle;
}

.active {
  font-weight: 900;
  fill: #F1574D;
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #10325D;
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}

.axis-text-main{
 text-anchor: middle;
 font-size: 0.75em;
}

.tooltip {
  position: absolute;
  text-align: center;
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
*{
  margin:0px;
  padding:0px;
}

.wrapper {
  margin: 100px 0;
}
.toggle_radio{
  position: relative !important;
  background: rgba(255,255,255,.1);
  margin: 4px auto;
  padding: 0 !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 100%;
  text-align: center;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  font: 90%/1.618 "Barlow Condensed";
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  bottom: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 109px;
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 215px;
}
#forth_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 321px;
}
#fifth_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 427px;
}
#sixth_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 533px;
}
#seventh_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 639px;
}
#eigth_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 745px;
}

.legend {
  line-height: 18px;
  color: #2c1515;
  font-weight: bold;
  font-size: 10;
  list-style: none !important;
 }

 /* map legend css */
.legend {
  line-height: 18px;
  color: rgb(252, 248, 248);
  font-family: 'Barlow Condensed', sans-serif;
  text-shadow: 0 0 2px #000;
  padding: 3px 3px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  list-style: none !important;
}
 .legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  list-style: none !important; 
}